<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/form.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/mainform.css">
    <title>Tiny Cakes</title>
</head>
<body>
  <header><img src="/images/logo.png">
  <h1></h1>
  </header>
  <nav class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login In</a></li>
      <li><a href="/allorders">All Order</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <h2> Please Login to place new order!</h2>
     <fieldset style= "border-radius: 10px; margin-left:430px; width:300px;">
     <section class="w50">
        
        <form name="basicform" method="Post"  action="" >
                
          <label>UserName : 
          <input type="text" name="username" id="username"></label><br><br/>
                
          <label>Password: 
          <input type="password" id="password" name="password"></label><br><br/>
               
          
    <input type="submit" value="Submit" >
    <p id="errors"></p>
    <%
            if(typeof (error) !== 'undefined')
            {
                %>
                <%= error %>
                <%
            }
    %>
    </form>
</section>
</fieldset>
</body>
</html>
